[submodule "qtbridge-java"]
	path = qtbridge-java
	url = ../qtbridge-java
	branch = dev
[submodule "qtbridge-swift"]
	path = qtbridge-swift
	url = ../qtbridge-swift
	branch = dev
[submodule "qtbridge-csharp"]
	path = qtbridge-csharp
	url = ../qtbridge-csharp
	branch = dev
[submodule "qtbridge-rust"]
	path = qtbridge-rust
	url = ../qtbridge-rust
	branch = dev
[submodule "qtbridge-python"]
	path = qtbridge-python
	url = ../qtbridge-python
	branch = dev
