[submodule "qtbridge-java"]
	path = qtbridge-java
	url = https://codereview.qt-project.org:/qt/qtbridge-java
[submodule "qtbridge-swift"]
	path = qtbridge-swift
	url = https://codereview.qt-project.org:/qt/qtbridge-swift
[submodule "qtbridge-csharp"]
	path = qtbridge-csharp
	url = https://codereview.qt-project.org:/qt/qtbridge-csharp
[submodule "qtbridge-rust"]
	path = qtbridge-rust
	url = https://codereview.qt-project.org:/qt/qtbridge-rust
[submodule "qtbridge-python"]
	path = qtbridge-python
	url = https://codereview.qt-project.org:/qt/qtbridge-python
